<form>
    <h2>Regsiter</h2>
    <label>First Name</label>
    <input type="text" name="FirstName" placeholder="Enter Your First Name" />
    <label>Last Name</label>
    <input type="text" name="LastName" placeholder="Enter Your Last Name" />
    <label>Email</label>
    <input type="email" name="Email" placeholder="Enter Your Email Address" />
    <label>Password</label>
    <input type="password" name="Password" placeholder="Enter Your Password" />
    <label>City</label>
    <input type="text" name="City" placeholder="Enter Your City" />
    <label>Gender</label>
    <select name="Gender" >
        <option>-- Select your gender --</option>
        <option>Male</option>
        <option>Female</option>
        <option>Rather not say</option>
    </select>
    <label>Study level</label>
    <input type="checkbox" />BA
    <input type="checkbox" />Master
    <input type="checkbox" />PhD
    <button type="submit">Save</button>
</form>

